body {
    color: white;
    background: black;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
}

.about {
    color: cornflowerblue;
}

.skills {
    color: orange;
}

.projects {
    color: red;
}

.contact {
    color: lightpink;
}
